{% extends 'base.html.jinja' %}

{% block title %}{{ _("Support us") }}{% endblock %}

{% block content %}

<section
    data-bs-version="5.1"
    class="header1 cid-to3eqtHrib mbr-fullscreen mbr-parallax-background"
    id="header1-3y"
>
    <div
        class="mbr-overlay"
        style="opacity: 0.8; background-color: rgb(0, 0, 0)"
    ></div>

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <h1
                    class="mbr-section-title mb-3 display-1"
                >
                    <strong>{{ _("Support the Project") }}</strong>
                </h1>

                <p class="mbr-text display-5">
                    The Bestboi Project is ran by a very dedicated group
                    of people. However, <br />since we are dedicated to
                    keeping the bestboi models free for everyone to
                    access,<br />we rely on the support of you and the
                    rest of the Bestboi Community to continue creating
                    content. <br />We hope that, if you are able to spare
                    a few dollars, you'll consider supporting our work!
                    <br />
                    <br />- Rustydustyfox and the Bestboi Team
                </p>
                <div class="mbr-section-btn mt-3">
                    <a
                        class="btn btn-success display-4"
                        href="#features3-4n"
                        ><span
                            class="fas fa-fw fa-arrow-down mbr-iconfont mbr-iconfont-btn"
                        ></span
                        >{{ _("Options") }}</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>

<section
    data-bs-version="5.1"
    class="features3 cid-to3Jl81V5o"
    id="features3-4n"
>
    <div class="container">
        <div class="mbr-section-head">
            <h4
                class="mbr-section-title align-center mb-0 display-2"
            >
                <strong>{{ _("Options") }}</strong>
            </h4>
            <h5
                class="mbr-section-subtitle align-center mb-0 mt-2 display-5"
            >
                {{ _("Not many but they still mean a lot to us") }}
            </h5>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="item features-image col-6 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img
                            src="{{ url_for('static', filename='img/652f1c815306637db31ca3b8-image2-1256x502.png') }}"
                            alt="{{ _("Discord") }}"
                        />
                    </div>
                    <div class="item-content">
                        <h5
                            class="item-title display-5"
                        >
                            <strong>{{ _("Long-Term Donations") }}</strong>
                        </h5>

                        <p
                            class="mbr-text mt-3 display-7"
                        >
                            {{ _("Looking to donate long term and get some neat rewards for your support? Try subscribing on Discord!") }}
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2">
                        <a
                            href="https://discord.com/servers/the-bestboi-project-506962571249713177"
                            class="btn item-btn btn-success display-7"
                            target="_blank"
                            ><span
                                class="fas fa-fw fa-heart mbr-iconfont mbr-iconfont-btn"
                            ></span
                            >{{ _("Subscribe") }}</a
                        >
                    </div>
                </div>
            </div>

            {#<div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img
                            src="{{ url_for('static', filename='img/schermafbeelding-2022-06-09-193940-816x444.png') }}"
                            alt="Commission"
                        />
                    </div>
                    <div class="item-content">
                        <h5
                            class="item-title display-5"
                        >
                            <strong>Commissions</strong>
                        </h5>

                        <p
                            class="mbr-text mt-3 display-7"
                        >
                            Want to support the project but don't feel
                            like donating? Want your own custom Bestboi
                            but don't know how to make one?
                            Rustydustyfox has commissions open!
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2">
                        <a
                            href="https://drive.google.com/file/d/1ASrGbmoDRS9ytjUfwJ1ITh1uarOCgLWB/view"
                            class="btn item-btn btn-success display-7"
                            ><span
                                class="fas fa-fw fa-comments-dollar mbr-iconfont mbr-iconfont-btn"
                            ></span
                            >Learn More</a
                        >
                    </div>
                </div>
            </div>#}
        </div>
    </div>
</section>

{% endblock %}
