{% extends "base.html.jinja" %}
{% block title %}{{ _("Meet The Team") }}{% endblock %}
{% block content %}
    <section class="header1 cid-t9euyMpmKM mbr-fullscreen mbr-parallax-background"
             id="header1-34">
        <div class="mbr-overlay"
             style="opacity: 0.8;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12">
                    <h1 class="mbr-section-title display-1">The Bestboi Team</h1>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Find out information on the Leader of the Bestboi Project, The Staff of the Bestboi Project, and the Bestboi Modeling Group here.
                    </p>
                    <div id="team-buttons">
                        <a href="#team-director" class="btn btn-success">
                            <span class="fas fa-suitcase"></span>
                            Director
                        </a>
                        <a href="#team-board" class="btn btn-success">
                            <span class="fas fa-crown"></span>
                            Board Members
                        </a>
                        <a href="#team-moderation" class="btn btn-success">
                            <span class="fas fa-balance-scale"></span>
                            Moderators
                        </a>
                        <a href="#team-events" class="btn btn-success">
                            <span class="fas fa-users"></span>
                            Event hosts
                        </a>
                        <a href="#team-art" class="btn btn-success">
                            <span class="fas fa-object-group"></span>
                            Art team
                        </a>
                        <a href="#team-former-3d-artists" class="btn btn-success">
                            <span class="fas socicon-sketchfab"></span>
                            Former 3D artists
                        </a>
                        <a href="#team-website" class="btn btn-success">
                            <span class="mbrib-sites"></span>
                            Website
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# -------------------------------- PROJECT DIRECTOR -------------------------------- #}
    <section class="team-title" id="team-director">
        <h4>Project Director</h4>
    </section>
    <section class="team-card-container team-members-director mbr-parallax-background scroll-up-on-enter">
        <div class="mbr-overlay"
             style="opacity: 0.5;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/zexc.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Zexc</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. zex</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://x.com/ZexisZexc">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# -------------------------------- BOARD MEMBERS -------------------------------- #}
    <section class="team-title" id="team-board">
        <h4>Board Members</h4>
    </section>
    <section class="team-card-container team-members-board mbr-parallax-background scroll-up-on-enter"
             id="team-board-members">
        <div class="mbr-overlay"
             style="opacity: 0.5;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/rustydustyfox.png") }}');
                            background-position-y: 35%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Foxbright</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. rustydustyfox</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Former project director.</p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/wbgaming.jpg") }}');
                            background-position-y: 45%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>WBGaming</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/myaggic.png") }}');
                            background-position-y: 17%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Myaggu</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. myaggic</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/demirramon.jpg") }}');
                            background-position: 28% 28%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Demirramon</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://demirramon.com/about" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://cyberfurz.social/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-mastodon socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/koslie.png") }}');
                            background-position-y: 15%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>koslie</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <i>"Stop capitalizing my name!!"</i>
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://eoiasrt.com/" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/channel/UC0DVuxuG-3Db8EYhjf88jWg"
                               target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# -------------------------------- MODERATION -------------------------------- #}
    <section class="team-title" id="team-moderation">
        <h4>Moderators</h4>
    </section>
    <section class="team-card-container team-members-moderation mbr-parallax-background scroll-up-on-enter"
             id="team-moderation-members">
        <div class="mbr-overlay"
             style="opacity: 0.5;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/cobrawitch.jpg") }}');
                            background-position-y: 15%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Cobra Witch</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Moderation team lead</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/journey.jpg") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Journey</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. rhayutheavali</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <!-- Duplicate -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/rustydustyfox.png") }}');
                            background-position-y: 35%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Foxbright</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. rustydustyfox</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <!-- Duplicate -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/wbgaming.jpg") }}');
                            background-position-y: 45%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>WBGaming</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <i>"Why are you in every team?"
                            <br>
                        - Demi</i>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/showy.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Hello im le showy</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. .helloimshowy</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <!-- Duplicate -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/myaggic.png") }}');
                            background-position-y: 17%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Myaggu</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. myaggic</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <!-- Duplicate -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/demirramon.jpg") }}');
                            background-position: 28% 28%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Demirramon</b>
                    </h5>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://demirramon.com/about" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://cyberfurz.social/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-mastodon socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/kaage.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Kaage Ryoko</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
        </div>
    </section>
    {# -------------------------------- EVENT HOSTS -------------------------------- #}
    <section class="team-title" id="team-events">
        <h4>Event hosts</h4>
    </section>
    <section class="team-card-container team-members-events mbr-parallax-background scroll-up-on-enter"
             id="team-events-members">
        <div class="mbr-overlay"
             style="opacity: 0.5;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <!-- Duplicate-ish -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/koslie.png") }}');
                            background-position-y: 15%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>koslie</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Event team lead</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://eoiasrt.com/" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/channel/UC0DVuxuG-3Db8EYhjf88jWg"
                               target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/rulfam.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Rulfam</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/eevibow.png") }}');
                            background-position-y: 63%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Eevibow</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <!-- Duplicate-ish -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/cobrawitch.jpg") }}');
                            background-position-y: 15%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Cobra Witch</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/samurai.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Samurai</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">Unfortunately, born and raised on a small island known as the UK.</p>
                </div>
            </div>
            <!-- Duplicate-ish -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/demirramon.jpg") }}');
                            background-position: 28% 28%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Demirramon</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Always fashionably late. On purpose, of course.
                        <br>
                        <i>Source: trust me bro.</i>
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://demirramon.com/about" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://cyberfurz.social/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-mastodon socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/theautisticdragon.png") }}')">
                </div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Asper Fel'Ok</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. theautisticdragon</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/banshee.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Banshee</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. empressbanshee407</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/dragonicankh.webp") }}');
                            background-position-y: bottom"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style display-2">
                        <b>TΛKӨDΛ☥</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. dragonicankh</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <!-- Duplicate -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/journey.jpg") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Journey</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. rhayutheavali</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
        </div>
    </section>
    {# -------------------------------- ART TEAM -------------------------------- #}
    <section class="team-title" id="team-art">
        <h4>Art team</h4>
    </section>
    <section class="team-card-container team-members-art mbr-parallax-background scroll-up-on-enter"
             id="team-art-members">
        <div class="mbr-overlay"
             style="opacity: 0.5;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <!-- Duplicate-ish -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/wbgaming.jpg") }}');
                            background-position-y: 45%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>WBGaming</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Art team lead</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Worked on HD updates and made the Quest version.</p>
                </div>
            </div>
            <!-- Duplicate-ish -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/koslie.png") }}');
                            background-position-y: 15%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>koslie</b>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">Scrunglyboi connoisseur.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://eoiasrt.com/" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/channel/UC0DVuxuG-3Db8EYhjf88jWg"
                               target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/youseamarz.png") }}');
                            background-position-y: 28%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Marz</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. youseamarz</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <!-- TODO: add description -->
                    </p>
                </div>
            </div>
            <!-- Duplicate -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/rustydustyfox.png") }}');
                            background-position-y: 35%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Foxbright</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>A.K.A. rustydustyfox</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Made many textures for public bestboi avatars.</p>
                </div>
            </div>
            <!-- Duplicate-ish -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/demirramon.jpg") }}');
                            background-position: 28% 28%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Demirramon</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler & texture artist, VRCSDK specialist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Did the initial Avatars 3.0 setup for the Bestboi HD, Toon, and Classic.
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://demirramon.com/about" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://cyberfurz.social/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-mastodon socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# -------------------------------- FORMER 3D ARTISTS -------------------------------- #}
    <section class="team-title" id="team-former-3d-artists">
        <h4>Former 3D artists</h4>
    </section>
    <section class="team-card-container team-members-former-3d-artists mbr-parallax-background scroll-up-on-enter"
             id="team-former-3d-artists-members">
        <div class="mbr-overlay"
             style="opacity: 0.5;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/maitake.jpg") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>MaitakeShiba</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler & texture artist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Main modeler responsible for the Chibi and Kemono models.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://toastysheeb.gumroad.com/" target="_blank">
                                <span class="mbr-iconfont material material-shopping-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/timo.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Timo</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Main modeler for the Bestboi HD Edition.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/spicypolys" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/whouse.jpg") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Whouse</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler & rigging specialist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Helped do rigging for bestboi HD, as well as custom blendshapes.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/kouji_shimazu" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/cyphiegorawr.jpg") }}')">
                </div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Cyphiegorawr</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b>3D modeler</b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Made the 3.8 update for the Bestboi Toon model.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://cyphiegorawr.gumroad.com/" target="_blank">
                                <span class="mbr-iconfont material material-shopping-cart"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/pammematth.jpg") }}')">
                </div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Pammematth</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Rigging Specialist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Made the rig for the first version of the Bestboi Toon model.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/DJBassFox28" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/orze.jpg") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Orze</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Texture Artist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Base Texture artist for the Bestboi HD Edition.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/orzeeee" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/victonroy.jpg") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>VictonRoy</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Responsible for the Bestboi Classic Update, as well as the Dutchie edit.
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/RoyVicton" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/pelmeow.jpg") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Pelmeow</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler & texture Artist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Created the original sculpt and textures for the first version of the Bestboi Toon.
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://colatastic.tumblr.com/#" target="_blank">
                                <span class="mbr-iconfont socicon-tumblr socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/deliriousjax.jpg") }}')">
                </div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>DeliriousJax</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Made the v3 update for the Toon Bestboi.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/deliriousjax" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/wiah.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Wiah</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Created the Sculpt for the Bestboi HD edition</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/YanWiah" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/dyze.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Dyze</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler & texture artist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Created the Bestboi Staff outfits, as well as the winter outfit and many yet unreleased outfits.
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://sketchfab.com/Dyze" target="_blank">
                                <span class="mbr-iconfont socicon-sketchfab socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/uber_winfrey.jpg") }}')">
                </div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Über Winfrey</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler & texture artist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Created the Bestboi HD Hoodie outfit alongsite other outfits still in the works.
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/Uber_Winfrey" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/rezillo_ryker.jpg") }}')">
                </div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Rezillo Ryker</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler.</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">Assisted with the creation of the Bestboi HD edition.</p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://twitter.com/RezilloArt" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/thekibblemeister.png") }}')">
                </div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Thekibblemeister</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>3D modeler & texture artist</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Creator of the OG Bestboi model (classic).
                        <br>
                        Lead the original Bestboi community from its creation on 2017 to early 2018. He then retired and allowed the community to split and choose their own leaders.
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://www.deviantart.com/thekibblemeister" target="_blank">
                                <span class="mbr-iconfont socicon-deviantart socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# -------------------------------- WEBSITE -------------------------------- #}
    <section class="team-title" id="team-website">
        <h4>Website developers & maintainers</h4>
    </section>
    <section class="team-card-container team-members-website mbr-parallax-background scroll-up-on-enter">
        <div class="mbr-overlay"
             style="opacity: 0.5;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/julian.png") }}');
                            background-position: 25% 70%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Julian</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Website creator & restoration assistant</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Just some 23 yo makin games and making free websites. mainly uses C#, Udon Graph, and some bash if im working in Linux.
                        <br>
                        <br>
                        Designed and created the website. For issues you can contact me on discord at <b>ryderuwu</b>.
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item" style="border: none;">
                            <a href="418.html">
                                <span class="mbr-iconfont flag-icon-nl flag-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Duplicate -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/rulfam.png") }}')"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Rulfam</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Website maintainer</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <i>"Why do you look so gay?"
                            <br>
                        - Samurai</i>
                    </p>
                </div>
            </div>
            <!-- Duplicate-ish -->
            <div class="card">
                <div class="image-wrapper scroll-up-on-enter"
                     style="background-image: url('{{ url_for("static", filename="img/team/demirramon.jpg") }}');
                            background-position: 28% 28%"></div>
                <div class="card-box">
                    <h5 class="card-title mbr-fonts-style mb-3 display-2">
                        <b>Demirramon</b>
                    </h5>
                    <h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
                        <b><i>Website maintainer</i></b>
                    </h6>
                    <p class="mbr-text mbr-fonts-style display-7">
                        <i>"Why are you in every team?"
                            <br>
                        - Koslie</i>
                    </p>
                    <div class="social-row display-7 scroll-up-on-enter">
                        <div class="soc-item">
                            <a href="https://demirramon.com/about" target="_blank">
                                <span class="mbr-iconfont socicon-internet socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://cyberfurz.social/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-mastodon socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/@demirramon" target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# ------------------------------------------------------------------------------------ #}
{% endblock %}
