{% extends "base.html.jinja" %}
{% block title %}{{ _("Meet The Team") }}{% endblock %}
{% block content %}
    <section class="header1 cid-t9euyMpmKM mbr-fullscreen mbr-parallax-background"
             id="header1-34">
        <div class="mbr-overlay"
             style="opacity: 0.8;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12">
                    <h1 class="mbr-section-title display-1">The Bestboi Team</h1>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Find out information on the Leader of the Bestboi Project, The Staff of the Bestboi Project, and the Bestboi Modeling Group here.
                    </p>
                    <div id="team-buttons">
                        {% for team, team_data in teams.items() %}
                            <a href="#team-{{ team }}" class="btn btn-success">
                                <span class="fas {{ team_data.icon }}"></span>
                                {{ team_data.title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% for team, team_data in teams.items() %}
        <section class="team-title" id="team-{{ team }}">
            <h4>{{ team_data.title }}</h4>
        </section>
        <section class="team-card-container team-members-{{ team }} mbr-parallax-background scroll-up-on-enter">
            <div class="mbr-overlay"
                 style="opacity: 0.5;
                        background-color: rgb(35, 35, 35)"></div>
            <div class="container">
                {% for member in team_data.members %}
                    <div class="card">
                        <div class="image-wrapper scroll-up-on-enter"
                             style="background-image: url('{{ url_for("static", filename="img/team/" + users[member.name].avatar.url) }}');
                                    {% if "background-position" in users[member.name].avatar %} background-position: {{ users[member.name].avatar["background-position"] }};
                                    {% endif %}"></div>
                        <div class="card-box">
                            <h5 class="card-title mbr-fonts-style mb-3 display-2"><b>{{ member.name }}</b></h5>
                            {% if member.subtitle != "" %}
                                <h6 class="card-subtitle mbr-fonts-style mb-3 display-4"><b><i>{{ member.subtitle }}</i></b></h6>
                            {% endif %}
                            {% if member.description != "" %}
                                <p class="mbr-text mbr-fonts-style display-7">{{ member.description }}</p>
                            {% endif %}
                            {% if users[member.name].links | count > 0 %}
                                <div class="social-row display-7 scroll-up-on-enter">
                                    {% for link in users[member.name].links %}
                                        <div class="soc-item">
                                            <a href="{{ link.url }}"><span class="mbr-iconfont {{ socicons[link.type] }} socicon"></span></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock %}
